h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    margin:10px;
}

#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}

#button_sort{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
